   ../.CFUserTextEncoding
        ../.Lumix.swo
        ../.Lumix.swp
        ../.atom/
        ../.azure/
        ../.bash_history
        ../.bash_profile
        ../.bash_profileyyse
        ../.bash_sessions/
        ../.config/
        ../.cups/
        ../.docker/
        ../.gem/
        ../.gitconfig
        ../.irb_history
        ../.lesshst
        ../.local/
        ../.netrc
        ../.npm/
        ../.oracle_jre_usage/
        ../.pgadmin/
        ../.psql_history
        ../.rbenv/
        ../.rdbg_history
        ../.ssh/
        ../.vim/
        ../.vim_explain.swp
        ../.viminfo
        ../.yarnrc
        ../.zsh_history
        ../.zsh_sessions/
        ../.zshrc
        ../.zshrcTAB
        ../.zshrc^T
        ../.zshrcxexit
        ../Applications/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Library/
        ../Linux
        ../Lumix
        ../Movies/
        ../Music/
        ../Pictures/
        ../Public/.localized
        ../Public/Drop Box/
        ../daily_report-1/
        ../daily_report/
        ../exit
        ../git
        ../hc _practice/
        ../hc_practice-1/
        ../hc_practice1/
        ../my_app_name/
        ../my_new_project/
        ../practice/
        ../practice_udemy
        ../rails-docker/
        ../rails_tutorial/
        ../ruby-lecture/
        ../ruby/
        ../test/
        ../vim_explain
        ../work/
